@import url('theme/hackclub.css');
@import url('components/layout/header.css');
@import url('components/layout/footer.css');
@import url('components/effects/mouse.css');
@import url('components/effects/grid.css');
@import url('components/sections/about.css');
@import url('components/sections/box.css');
@import url('components/sections/core_values.css');
@import url('components/sections/events.css');
@import url('components/sections/mission.css');
@import url('components/sections/stats.css');
@import url('components/sections/title-2.css');
@import url('components/sections/title.css');
@import url('components/sections/welcome.css');
@import url('components/sections/title-3.css');
@import url('components/sections/heading-3.css');
@import url('components/sections/apply-form.css');
@import url('components/sections/applied.css');
@import url('components/sections/contact-form.css');
@import url('components/sections/members.css');
@import url('dashboard/index.css');

:root {
  --primary: #ec3750;
  --primary-rgb: 236, 55, 80;
  --secondary: #ff8c37;
  --accent: #33d6a6;
  --text: #ffffff;
  --background: #080808;
  --elevated: #2d2d2d;
  --sheet: #404040;
  --website-gradient: linear-gradient(90deg, var(--primary), var(--secondary));
}

body {
  font-family: 'Phantom Sans', system-ui;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}